body{
    background-color: black;
}

p{
    font-size: 20px;
    font-style: italic;
}

#profile-pic{
    position: relative;
    width: 30%;
    aspect-ratio: 1/1;
    border: 5px solid blue;
    border-radius: 50%;
    animation: pulse 8s infinite;
}

#name{
    font-size: 80px;
    text-shadow: 3px 0px blue ,5px 0px red;
    transform: rotate(5deg);
    animation: turn 3s linear infinite;
}

#project-container{
    overflow: hidden;
    height: 800px;
}

#home-container{
    overflow: auto;
    >div{
        z-index: 1;
    }
    min-height: 800px;
}

@keyframes pulse {
    0%, 100%{
      animation-timing-function: ease-in-out;
    }
    50%{
    transform: scale(1.1);
    }
    100%{
    transform: scale(1);
    }
}

@keyframes turn {
    25%{
        transform: rotate(-5deg);
    }
    50%{
        transform: rotate(5deg);
    }
    75%{
        transform: rotate(-5deg);
    }
    100%{
        transform: rotate(5deg);
    }
}

#card{
    width: 400px;
    max-height: 420px;
    border: 3px solid rgb(143, 3, 3);
    box-shadow: 2px 2px 4px 3px rgba(231, 82, 82, 0.2), -2px -2px 4px 3px rgba(231, 82, 82, 0.8);
}

#card:hover{
    transform: scale(1.1);
}

#card-img-top{
    border-bottom: 2px solid red;
}

#card-body{
    color: white;
    background-color: black;
}

#profile-text>p{
    font-size: 30px;
    text-shadow: 3px 1px blue;
}

/* ************************************Skills Tab************************************ */
/* each individual skill*/
.skill{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    animation: float 3s linear infinite; 
    >p{font-size: 30px;}
}
/* Skills is all the skills in one div*/
#skills{
    position: relative;
    width: 100%;
    height: 800px;
}
/* Skill logals*/
.skill_icon{
    z-index: 1;
    width: 5em;
    height: 5em; 
}

.js {top: 4%; left: 18%; }
.html { left: 30%; top: 80%; }
.css { left: 08%; top: 68%;}

.node { left: 02%; top: 30%;}
.react { left: 43%; top: 50%;}
.mongodb { right: 15%; top: 16%;}

.python { right: 48%; top: 20%;}
.django { right: 22%; bottom: 40%;}
.post { right: 02%; top: 72%;}

/* skills float animation */
@keyframes float{
    0%{transform: translate(0, 20px); }
    50%{transform: translate(0, 40px);}
    100%{transform: translate(0, 20px);}
}

/* ************************************matris background************************************ */
.tab-content{
    background-color: black;
    color: white;
    font-family: "GFS Didot", serif;
}

.tab-pane{
    font-family: "GFS Didot", serif;
}

@property --timer {
    syntax: '<integer>';
    inherits: false;
    initial-value: 1;
}    

:root { background-color: black; overflow: hidden;}

.l00 { left: calc(100% + 20px); }
.l05 { left: 03%; }
.l10 { left: 12%; }
.l15 { left: 15%; }
.l20 { left: 20%; }
.l25 { left: 25%; }
.l30 { left: 30%; }    
.l35 { left: 35%; }
.l40 { left: 40%; }
.l45 { left: 45%; }
.l50 { left: 50%; }
.l55 { left: 55%; }
.l60 { left: 60%; }
.l65 { left: 65%; }
.l70 { left: 70%; }
.l75 { left: 75%; }
.l80 { left: 80%; }
.l85 { left: 85%; }
.l90 { left: 90%; }
.l95 { left: 95%; }
.l100 { left: calc(100% - 20px); }

.t200 { top: -400px; }
.t500 { top: -500px; }
.t180 { top: -680px; }
.t700 { top: -700px; }
.t800 { top: -800px; }
.t900 { top: -900px; }
.t300 { top: -300px; }    
.t400 { top: -400px; }    
.t250 { top: -250px; }    
.t320 { top: -320px; }    
.t190 { top: -690px; }    
.t520 { top: -520px; }    
.t380 { top: -680px; }    
.t400 { top: -800px; }    
.t600 { top: -600px; }    
.t650 { top: -650px; }    
.t290 { top: -790px; }    
.t530 { top: -730px; }    
.t420 { top: -720px; }    
.t310 { top: -410px; }

.big div {
    width: 40px!important;        
    height: 300px!important;
    font-size: 24px!important;
    color: blue!important;
}

.letter {
    z-index: 0;
    position: absolute;
    font-family: "Yarndings 20", system-ui;
    background-color: black;
    counter-reset: timer-1 calc(var(--timer) + 9) timer-2 calc(var(--timer) + 8) timer-3 calc(var(--timer) + 7) timer-4 calc(var(--timer) + 6) timer-5 calc(var(--timer) + 5) timer-6 calc(var(--timer) + 4) timer-7 calc(var(--timer) + 3) timer-8 calc(var(--timer) + 2) timer-9 calc(var(--timer) + 1) timer-10 calc(var(--timer) + 0);
    animation: animate-letter 2s linear infinite running, animate-position 5s linear infinite running;
}

.d2{
animation-delay: 2.5s;
}

.letter div {
    z-index: 0;
    width: 20px;
    height: 140px;
    font-size: 12px;
    color: red;
}

.letter div:before {
    z-index: 0;
    position: absolute;
    filter: brightness(2.5) blur(0.5px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    content: counter(timer-1, lower-alpha) counter(timer-2, lower-alpha) counter(timer-3, lower-alpha) counter(timer-4, lower-alpha) counter(timer-5, lower-alpha) counter(timer-6, lower-alpha) counter(timer-7, lower-alpha) counter(timer-8, lower-alpha) counter(timer-9, lower-alpha) counter(timer-10, lower-alpha);
    writing-mode: vertical-rl;
    text-orientation: upright;
}

@keyframes animate-letter {
    to {
        --timer: 5;
    }
}

@keyframes animate-position {
    to {
        top: calc(100% + 40px);
    }
}

/* **************************Media Only****************************** */
@media only screen and (max-width: 768px){
    .big div {font-size: 5px!important;}
    .letter div {font-size: 2px;}

    #profile-pic{ width: 30%; border: 5px solid red;}
    #profile-text>p{font-size: 20px;}
    #profile-header>#name{font-size: 50px;}
    #home-container{min-height: 200px;}

    .skill_icon{width: 2em;height: 2em; }
    .skill>p{font-size: 25px;}
}